@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  padding: 2rem;
  background-color: #f2f2f2;
}

form {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  width: 400px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

button.remove {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
button:hover{
  scale: 1.1;
}
button:active{
  scale: 1;
}
button{
  transition: scale ease 0.15s;
}
